<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bottomtab">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".etc.InitialActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".etc.LoginActivity"
            android:label="@string/sign_in">
        </activity>

        <activity
            android:name=".etc.MainActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".etc.ProfileActivity"
            android:label="@string/profile">
        </activity>
        <activity
            android:name=".etc.DeviceInformationActivity"
            android:label="@string/device_information">
        </activity>
        <activity
            android:name=".etc.InstructionActivity"
            android:label="@string/instruction">
        </activity>
        <activity
            android:name=".etc.CustomerServiceActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/customer_service">
        </activity>
        <activity
            android:name=".etc.FriendActivity"
            android:label="@string/friend">
        </activity>
        <activity
            android:name=".etc.SignUpActivity"
            android:label="@string/sign_up">
        </activity>
        <activity
            android:name=".statistics.StatisticsDayActivity">
        </activity>
        <activity
            android:name=".statistics.StatisticsWeekActivity">
        </activity>
        <activity
            android:name=".statistics.StatisticsMonthActivity">
        </activity>
        <activity
            android:name=".statistics.StatisticsYearActivity">
        </activity>

        <activity android:name=".bluetooth.DeviceControlActivity"/>
        <activity android:name=".bluetooth.DeviceScanActivity"/>
        <service android:name=".bluetooth.BluetoothLeService" android:enabled="true"/>
    </application>

</manifest>